In [1]:
import pandas as pd

#### 在加载文件时就初始化参数，设定列索引

In [2]:
df = pd.read_csv('E:/GitProjects/pandas/data/survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('E:/GitProjects/pandas/data/survey_results_schema.csv', index_col='Column')

In [3]:
# pd.set_option('display.max_columns', 85)
# pd.set_option('display.max_rows', 85)

In [4]:
df.head()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [5]:
schema_df

                                                         QuestionText
Column
Respondent          Randomized respondent ID number (not in order ...
MainBranch          Which of the following options best describes ...
Hobbyist                                      Do you code as a hobby?
Age                 What is your age (in years)? If you prefer not...
Age1stCode          At what age did you write your first line of c...
...                                                               ...
WebframeWorkedWith  Which web frameworks have you done extensive d...
WelcomeChange       Compared to last year, how welcome do you feel...
WorkWeekHrs         On average, how many hours per week do you wor...
YearsCode           Including any education, how many years have y...
YearsCodePro        NOT including education, how many years have y...

[61 rows x 1 columns]

In [6]:
schema_df.loc['YearsCode', 'QuestionText']

'Including any education, how many years have you been coding in total?'

#### inplace=True 表示永久排序

In [7]:
schema_df.sort_index(inplace=True)

In [8]:
schema_df

                                                         QuestionText
Column
Age                 What is your age (in years)? If you prefer not...
Age1stCode          At what age did you write your first line of c...
CompFreq             Is that compensation weekly, monthly, or yearly?
CompTotal           What is your current total compensation (salar...
ConvertedComp       Salary converted to annual USD salaries using ...
...                                                               ...
WebframeWorkedWith  Which web frameworks have you done extensive d...
WelcomeChange       Compared to last year, how welcome do you feel...
WorkWeekHrs         On average, how many hours per week do you wor...
YearsCode           Including any education, how many years have y...
YearsCodePro        NOT including education, how many years have y...

[61 rows x 1 columns]

#### 逆序排序,ascending=True 默认正序，False为逆序

In [9]:
schema_df.sort_index(ascending=False)

                                                         QuestionText
Column
YearsCodePro        NOT including education, how many years have y...
YearsCode           Including any education, how many years have y...
WorkWeekHrs         On average, how many hours per week do you wor...
WelcomeChange       Compared to last year, how welcome do you feel...
WebframeWorkedWith  Which web frameworks have you done extensive d...
...                                                               ...
ConvertedComp       Salary converted to annual USD salaries using ...
CompTotal           What is your current total compensation (salar...
CompFreq             Is that compensation weekly, monthly, or yearly?
Age1stCode          At what age did you write your first line of c...
Age                 What is your age (in years)? If you prefer not...

[61 rows x 1 columns]

In [14]:
schema_df.sort_values(ascending=False,by='QuestionText',inplace=True)

In [16]:
schema_df

                                                             QuestionText
Column
NEWPurpleLink           You search for a coding solution online and th...
WebframeWorkedWith      Which web frameworks have you done extensive d...
WebframeDesireNextYear  Which web frameworks have you done extensive d...
LanguageWorkedWith      Which programming, scripting, and markup langu...
LanguageDesireNextYear  Which programming, scripting, and markup langu...
...                                                                   ...
WelcomeChange           Compared to last year, how welcome do you feel...
Age1stCode              At what age did you write your first line of c...
Trans                                                Are you transgender?
NEWOtherComms           Are you a member of any other online developer...
OrgSize                 Approximately how many people are employed by ...

[61 rows x 1 columns]