In [216]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [217]:
import pandas as pd

In [218]:
df = pd.DataFrame(people)

In [219]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [220]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

## 更改列名

### 更新列名,只能更改全部的

In [221]:
df.columns = ['first_name', 'last_name', 'email' ]

In [222]:
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

### 列名转换为小写

In [223]:
df.columns = [x.lower() for x in df.columns]
df

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

### 可以更改部分列名

In [224]:
df.rename(columns={'first_name': 'first', 'last_name': 'last'}, inplace=True)

## 更改行内容

### 更改某一行的内容

In [225]:
df.loc[2] = ['John', 'Smith', 'JohnSmith@email.com']

### 更改某一行部分内容

In [226]:
df.loc[2, ['last', 'email']] = ['Doe', 'JohnDoe@email.com']

In [227]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

### 更改某一行单个内容

In [228]:
df.loc[2, 'last'] = 'Smith'

In [229]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

### 更改某一行单个内容时可以用at，也可以用loc

In [230]:
df.at[2, 'last'] = 'Doe'

In [231]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

### 不能更改

In [232]:
filt = (df['email'] == 'JohnDoe@email.com')
df[filt]['last'] = 'Smith'

In [233]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

### 使用过滤器更改

In [234]:
filt = (df['email'] == 'JohnDoe@email.com')
df.loc[filt, 'last'] = 'Smith'

In [259]:
df['email'] = df['email'].str.lower()

In [236]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

## 使用apply,map,applymap,replace

### apply

#### 获取长度

In [237]:
df['email'].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

#### 自定义函数修改大小写

In [238]:
def update_email(email):
    return email.upper()

In [239]:
df['email'].apply(update_email)

0    COREYMSCHAFER@GMAIL.COM
1          JANEDOE@EMAIL.COM
2          JOHNDOE@EMAIL.COM
Name: email, dtype: object

In [240]:
df['email'] = df['email'].apply(update_email)

In [241]:
df

   first     last                    email
0  Corey  Schafer  COREYMSCHAFER@GMAIL.COM
1   Jane      Doe        JANEDOE@EMAIL.COM
2   John    Smith        JOHNDOE@EMAIL.COM

#### lambda更改大小写

In [242]:
df['email'] = df['email'].apply(lambda x: x.lower())

In [243]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

In [244]:
df['email'].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [245]:
df.apply(len, axis='columns')

0    3
1    3
2    3
dtype: int64

In [246]:
len(df['email'])

3

#### 每一列的最小值

In [247]:
df.apply(lambda x: x.min())

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

### applymap

#### 获取每个值的长度

In [248]:
df.applymap(len)

   first  last  email
0      5     7     23
1      4     3     17
2      4     5     17

In [249]:
df.applymap(str.lower)

   first     last                    email
0  corey  schafer  coreymschafer@gmail.com
1   jane      doe        janedoe@email.com
2   john    smith        johndoe@email.com

### map

#### 必须全部更改,否则该部分(包括更改的部分)都会被置空

In [250]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com

In [256]:
df['first'] = df['first'].map({'Corey': 'Chris', 'Jane': 'Mary' , })

In [257]:
df

  first     last                    email
0   NaN  Schafer  coreymschafer@gmail.com
1   NaN      Doe        janedoe@email.com
2   NaN    Smith        johndoe@email.com

### replace

#### 只需要输入要改的部分

In [253]:
df['first'] = df['first'].replace({'Corey': 'Chris', 'Jane': 'Mary'})

In [254]:
df

   first     last                    email
0  Chris  Schafer  coreymschafer@gmail.com
1   Mary      Doe        janedoe@email.com
2   jone    Smith        johndoe@email.com